################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dot/FileContentIndex/12be53a1-ddc0-4e6a-8f09-2332db7fd649.vsidx
