################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dot/FileContentIndex/12be53a1-ddc0-4e6a-8f09-2332db7fd649.vsidx
/.vs/Dot/FileContentIndex/35a7bc9a-0056-43a4-8e0f-ad43c4597f3e.vsidx
/.vs/Dot/FileContentIndex/c9300a8c-dae2-4bb7-9b39-33e6fe706600.vsidx
/.vs/Dot/FileContentIndex/df021e8a-5c29-42cc-a3d9-0db88efd7373.vsidx
/.vs/Dot/FileContentIndex
/.vs
